<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentplanerguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPlanerGuide">
        <activity android:name=".FlashcardsActivity"></activity>
        <activity android:name=".QuestionsActivity" />
        <activity android:name=".ReadingActivity" />
        <activity android:name=".mainPages.taskListing.taskListerActivity" />
        <activity android:name=".mainPages.quizer.reminderActivity" />
        <activity android:name=".mainPages.stats.statsActivity" />
        <activity android:name=".mainPages.subjects.PracticeSkillsActivity" />
        <activity android:name=".mainPages.subjects.SkillsActivity" />
        <activity android:name=".mainPages.subjects.SubjectTopicsActivity" />
        <activity android:name=".mainPages.subjects.HomescreenActivity" />
        <activity android:name=".startingScreens.OnboardingActivity" />
        <activity android:name=".startingScreens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>